extends layout

block content
  h1(style='text-align: center;') Mannat Poori Ho
  
  div.circle(style='margin-left: 1%;')  a(href='\mannat')Mannat 
  div.circle(style='')  a(href='\gurus')Guru Smaran 
  div.circle(style='')  a(href='\donate')Donate 
  
  
  if user
    .alert.alert-success.animated.fadeInUp
      i.fa.fa-check
      strong Success!
      |  You are logged in.
