extends layout

block content
  h1 YO YO HACKATHON TEMPLATE
  p.lead
    | Use this document as a way to quickly start any new project.
    br
    | HAHAHAH THIS IS COOOL ...All you get is this text and a mostly barebones HTML document.

  if user
    .alert.alert-success.animated.fadeInUp
      i.fa.fa-check
      strong Success!
      |  You are logged in.
