extends layout

block content
  h1(style='text-align: center;') Mannat Poori Ho
  .circle(style='margin-left:5%;')
    a(href='/mannat') Mannat
  .circle
    a(href='/gurus') Gurus
  .circle
    a(href='/donate') Donate

  
  if user
    .alert.alert-success.animated.fadeInUp
      i.fa.fa-check
      strong Success!
      |  You are logged in.
