extends layout

block content
  script(src='/js/main.js?v=#{cacheBuster}')
  
  if user
    .purchaseBox
      i.fa.fa-check
      strong Success!
      |  You can log wishes now
  else
    .notLoginBox(style="display:none")
      .col-sm-8.col-sm-offset-2
        a(href="/signup") Signup Here
		br
		br
        form(method='POST')
          legend Sign In
            .form-group
              .btn-group.btn-group-justified
                a.btn.btn-facebook(href='/auth/facebook')
                  i.fa.fa-facebook
                  | Facebook
                a.btn.btn-twitter(href='/auth/twitter')
                  i.fa.fa-twitter
                  | Twitter
                a.btn.btn-google-plus(href='/auth/google')
                  i.fa.fa-google-plus
                  | Google
            .form-group
              label.control-label(for='email') Email
              input.form-control(type='text', name='email', id='email', placeholder='Email', autofocus=true)
            .form-group
              label.control-label(for='username') Password
              input.form-control(type='password', name='password', id='password', placeholder='Password')
            .form-group
              button.btn.btn-primary(type='submit')
                i.fa.fa-unlock-alt
                | Login
  br
  br
  .wishPad(style="display:none;")
    .form-group
        label.control-label(for='wishMsg') Enter your wish
        input.form-control(type='text', name='wishMsg', id='wishMsg', placeholder='Enter your wish here', autofocus=true)
    .form-group
      if user
          button.btn.btn-primary.wishSubmitReal(type='submit')
            | Submit
        else
          button.btn.btn-primary.wishSubmitFake(type='submit')
            | Submit
            
  .wishTip
  #dataTable
  