extends layout

block content
  script(src='/js/main.js?v=#{cacheBuster}')
  h1(style='text-align: center;') Mannat
  
  if user
    .alert.alert-success.animated.fadeInUp
      i.fa.fa-check
      strong Success!
      |  You can log wishes now
  else
    .alert.alert-warning.animated.fadeInUp
      i.fa.fa-check
      strong Note!
      |  Login to log a wish

  .wishPad(style="display:none;")
    .form-group
        label.control-label(for='wishMsg') Enter your wish
        input.form-control(type='text', name='wishMsg', id='wishMsg', placeholder='Enter your wish here', autofocus=true)
    .form-group
      if user
          button.btn.btn-primary.wishSubmitReal(type='submit')
            | Submit
        else
          button.btn.btn-primary.wishSubmitFake(type='submit')
            | Submit
  .wishTip
  #dataTable
  