extends layout

block content
  h1(style='text-align: center;') Mannat
  table#dataTable
  
  if user
    .alert.alert-success.animated.fadeInUp
      i.fa.fa-check
      strong Success!
      |  You can log wishes now
  else
    .alert.alert-warning.animated.fadeInUp
      i.fa.fa-check
      strong Note!
      |  Login to log a wish
